{% load django_vite static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskomatic</title>
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png" sizes="32x32">
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    {% vite_hmr_client %}
    {% vite_asset 'src/main.ts' %}
</head>
<body>
    <div id="app"></div>
</body>
</html>
